<!-- banner -->
<div class="container-fluid jumbotron banner text-center">
  <h1 class="display-4 banner-heading">LiveTo-Do</h1>
  <hr class="my-4">
  <div class="heightFixed">
    <h2 class="typed display-4  text-uppercase"></h2>
  </div>
  <div class="row banner-row">
    <div class="col">
        <p class="lead text-uppercase">Upto Something?</p>
        <p class="lead">Create A To-Do List now!!!</p>
    </div>
  </div>
</div>
<!-- signup section -->
<div class="container section-background border-0">
  <div class="row">
    <div class="col">
      <span>FirstName: </span>

      <label for="inputFirstName" class="sr-only">FirstName</label>

      <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="FirstName" placeholder="FirstName"
        required>
      <br>

      <span>LastName: </span>

      <label for="inputLastName" class="sr-only">LastName</label>

      <input type="text" id="inputLastName" class="form-control" [(ngModel)]="LastName" placeholder="LastName" required>

      <br>

      <span>Mobile: </span>
      <select aria-placeholder="Enter" [(ngModel)]="CountryCode" #countrycode="ngModel" name="country"
        class="form-control" id="countrycode" required>
        <option value="Enter Country Code" disabled selected>Enter Country Code</option>
        <option *ngFor="let value of countries" [value]="value.name">{{value.code}}</option>
      </select>
      <label for="inputMobile" class="sr-only">Mobile</label>

     
          <div class="input-group">
              <div class="input-group-prepend">
                  <div class="input-group-text">{{model.countryCode}}</div>
              </div>
              <input type="number" id="inputMobile" class="form-control" [(ngModel)]="MobileNumber" placeholder="Mobile"
              required>
              <div class="invalid-feedback">Please enter your mobile no</div>
          </div>

      

      <br>

      <span>Email: </span>

      <label for="inputEmail" class="sr-only">Email address</label>

      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="Email" placeholder="Email address" required>

      <br>

      <span>Password: </span>

      <label for="inputPassword" class="sr-only">Password</label>

      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="Password" placeholder="Password"
        required>

      <br>

      <button data-toggle="tooltip" data-placement="bottom" title="Signup" id="signup" class="btn btn-lg btn-outline-danger btn-block" type="button" (click)="signup()">Sign
        Up</button>
     <br>
     <div class="text-center">
     <a [routerLink]="[ '/login']">Already a member</a>
     </div>
    </div>

  </div>
</div>
<!-- footer -->
<div>
  <footer class="marginTop  text-center">
    <div class="container-fluid paddingTopFromFooter">
      <img src="/assets/varun.jpg" class="img-fluid footerImage rounded-circle" alt="my image">
      <div class="media-body">
        <h5 class="mt-0">Mean Stack Developer</h5>
        <div class="footer-link">
          <span>
            <a class="lead" href="mailto: varundhariyal@gmail.com"><img class="svg1" src="/assets/svg/gmail.png"
                alt="gmail"></a>
          </span>
          <span>
            <a class="lead" href="https://in.linkedin.com/in/varundhariyal"><img class="svg2"
                src="/assets/svg/linkedin.png" alt="in"></a>
          </span>
          <span>
            <a class="lead" href="https://github.com/varundhariyal"><img class="svg3" src="/assets/svg/git.svg"
                alt="git"></a>
          </span>
          <span>
            <a class="lead" href="https://www.instagram.com/poeticoder/"><img class="svg4" src="/assets/svg/insta.svg"
                alt="insta"></a>
          </span>
        </div>
        <p class="lead text-uppercase">Drop me a line! I'll be happy to hear from you</p>
        <br>
        <span class="text-dark">Copyright © 2019 Varun Dhariyal</span>
      </div>
    </div>
  </footer>
</div>

