<!-- navbar -->
<nav class="fixed-top navbar navbar-expand-lg navbar-property">
  <a class="navbar-brand" [routerLink]="[ '/about']">LiveTo-Do</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/dash', userId ]">All List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/multiview']">MultiUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/alluser' ]">FriendZone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- navbar end -->
<div *ngIf="listTitle" class="jumbotron jumbotron-fluid" id="jumb-prop">
  <div class="container jumb-padding">
    <h1 class="display-4">List Name {{listTitle}}</h1>
    <span class="badge badge-danger badge-pill">{{listCreatedOn |date}}</span>
    <p class="lead">Go ahead and add some todos..</p>
  </div>
</div>
<!-- jumbo end -->
<div class="container search-box-margin">
  <div id="top" class="row">
    <div class="col text-center shadow p-3 mb-5 bg-white rounded">
      <!-- todo list create input -->
      <input [(ngModel)]="itemName" type="text" class="form-control text-center" placeholder="Add a todo...">
      <br>
      <button data-toggle="tooltip" data-placement="bottom" title="Add Item" (click)="addItem()" class="btn btn-outline-success text-center"><i
          class="fas fa-plus-circle">ADD</i></button>
    </div>
  </div>
</div>
<!-- create box end -->

<!-- Item Box -->
<div class="container text-center">
  <div *ngFor="let list of myItemList" class="row">
    <div class="col shadow p-3 mb-5 bg-white rounded">
      <!-- checkbox -->
      <div *ngIf="list.isCompleted==false" class="input-group input-group-lg">
        <div>
          <div data-toggle="tooltip" data-placement="bottom" title="Mark Done" class="input-group-text check">
            <input (click)="itemCompleted(list.itemId)" class="" type="checkbox">
          </div>
        </div>
      </div>

      <div>
        <div [ngStyle]="{'text-decoration':list.isCompleted ? 'line-through' : 'none'}">
        <h3 *ngIf="edited!==list.itemId">{{list.itemName}}</h3>
        </div>
        <div [hidden]="showMe" *ngIf="edited=== list.itemId">
          <input [(ngModel)]="editItemName" type="text">
          <button data-toggle="tooltip" data-placement="bottom" title="Edit" (click)="editItem(list.itemId)" class="i-margin btn btn-outline-primary"><i
              class="fas fa-plus-circle">Edit
              Todo</i></button>
          <button data-toggle="tooltip" data-placement="bottom" title="Cancel" (click)="showElement(list.ItemId)" class="i-margin btn btn-outline-primary">
            <i class="fas fa-times-circle"></i></button>
        </div>

        <!-- supplying showme=true for div hide/show using hidden property-->
        <i data-toggle="tooltip" data-placement="bottom" title="Edit" (click)="handleView(list.itemId)" class="i-margin btn btn-outline-warning far fa-edit"></i>
        <i data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="deleteItem(list.itemId)" class="i-margin btn btn-outline-danger far fa-trash-alt"></i>
      </div>
      <span class="badge badge-primary badge-pill">{{list.createdOn |date}}</span>
      <br>
      <br>
      <ul class="text-left list-group list-group-flush" *ngFor="let childList of list.children">
        <li class="list-group-item">
          <p class="lead">{{childList.subItemName}}
            <button data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="deleteSubItem(list.itemId,childList.subItemId)" type="button" class="close"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
          <span class="badge badge-secondary badge-pill">{{childList.createdOn|date}}</span>
        </li>
      </ul>
      <div *ngIf="!list.isCompleted" class="input-group mb-3">
        <div class="input-group-prepend">
          <button data-toggle="tooltip" data-placement="bottom" title="Add Sub Item" (click)="addChildItem(list.itemId, subToDo)" class="btn btn-outline-success" type="button"
            id="button-addon1"><i class="fas fa-plus-circle">ADD SUB-TODO</i></button>
        </div>
        <input type="text" class="form-control" #subToDo placeholder="add a sub todo.."
          aria-describedby="button-addon1">
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div>
  <footer class="marginTop  text-center">
    <div class="container-fluid paddingTopFromFooter">
      <img src="/assets/varun.jpg" class="img-fluid footerImage rounded-circle" alt="my image">
      <div class="media-body">
        <h5 class="mt-0">Mean Stack Developer</h5>
        <div class="footer-link">
          <span>
            <a class="lead" href="mailto: varundhariyal@gmail.com"><img class="svg1" src="/assets/svg/gmail.png"
                alt="gmail"></a>
          </span>
          <span>
            <a class="lead" href="https://in.linkedin.com/in/varundhariyal"><img class="svg2"
                src="/assets/svg/linkedin.png" alt="in"></a>
          </span>
          <span>
            <a class="lead" href="https://github.com/varundhariyal"><img class="svg3" src="/assets/svg/git.svg"
                alt="git"></a>
          </span>
          <span>
            <a class="lead" href="https://www.instagram.com/poeticoder/"><img class="svg4" src="/assets/svg/insta.svg"
                alt="insta"></a>
          </span>
        </div>
        <p class="lead text-uppercase">Drop me a line! I'll be happy to hear from you</p>
        <br>
        <span class="text-dark">Copyright © 2019 Varun Dhariyal</span>
      </div>
    </div>
  </footer>
</div>

