<div class="container margin-top border border-secondary">
  <div class="row">
    <div class="text-center col p-3">
      <h1 class="display-1">500</h1>
      <h3 class="font-bold display-4">Internal Server Error</h3>
      <div class="error-desc">
        <p class="lead">The server encountered something unexpected that didn't allow it to complete the request. We
          apologize.
        </p>
        <br>
        <p class="lead">You can go back!</p>
        <br>
        <button (click)="goBack()" type="button" class="btn btn-outline-success">Go Back</button>
      </div>
    </div>
  </div>
</div>
