<div class="container margin-top border border-secondary">
    <div class="row">
      <div class="text-center col p-3">
  <h1 class="display-1">404</h1>
  <h3 class="font-bold display-4">Page Not Found</h3>

  <div class="error-desc text-center">
    <p class="lead"> Sorry, but the page you are looking for has note been found. Try checking the URL for error, then
      hit the refresh
      button on your browser or try something else in our app.
    </p>
    <br>
    <button (click)="goBack()" type="button" class="btn btn-outline-success">Go Back</button>
  </div>
</div>
</div>
</div>
