.navbar-property {
  color: whitesmoke;
  background: rgb(36, 34, 34);
}

.navbar-property a {
  color: whitesmoke;
  text-decoration: none;
}

/* burger style change */
.navbar-property button {
  background: whitesmoke;
  text-decoration: none;
}

.navbar-property span {
  background: black;
}

.container-top {
  margin-top: 100px;
}

.col {
  padding: 10px;
}

.card {
  margin: 10px auto;
}

.badge {
  padding: 10px!important;
}
