<!-- navbar -->
<nav class="fixed-top navbar navbar-expand-lg navbar-property">
  <a class="navbar-brand" [routerLink]="[ '/about']">LiveTo-Do</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/dash', userId ]">SingleUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/multiview' ]">MultiUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" [routerLink]="[ '/alluser' ]">FriendZone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- navbar end -->
<div class="container text-center container-top">
  <div *ngIf="users" class="row justify-content-around">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <span class="badge badge-pill badge-dark">
        <h5>All Users</h5>
      </span>
      <div *ngIf="users.length==0" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">No Users</h5>
        </div>
      </div>
      <div *ngFor="let user of users" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{user.FirstName}} {{user.LastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Joined-{{user.CreatedOn|date}}</h6>
          <button data-toggle="tooltip" data-placement="bottom" title="Send Request" (click)="sendRequest(user.userId)" class="btn btn-outline-success"><i
              class="fas fa-user-friends">Send</i></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <span class="badge badge-pill badge-danger">
        <h5>Friend Request</h5>
      </span>
      <div *ngIf="senderInfoArray.length==0" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">No friend request</h5>
        </div>
      </div>
      <div *ngFor="let name of senderInfoArray" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{name.FirstName}} {{name.LastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <button data-toggle="tooltip" data-placement="bottom" title="Accept" (click)="acceptFriendRequest(name)" class="btn btn-outline-success"><i
              class="fas fa-check-circle">Accept</i></button>
          <button data-toggle="tooltip" data-placement="bottom" title="Decline" (click)="deleteFriendRequest(name.userId)" class="btn btn-outline-danger"><i
              class="fas fa-times-circle">Decline</i></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <span class="badge badge-pill badge-primary">
        <h5>Friends</h5>
      </span>
      <div *ngIf="friendListArray.length==0" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">No friends to show</h5>
        </div>
      </div>
      <div *ngIf="friendListArray.length>0">
        <div class="card" style="width: 18rem;" *ngFor="let friend of friendListArray" >
          <div class="card-title p-4">{{friend.FirstName}} {{friend.LastName}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div>
  <footer class="marginTop  text-center">
    <div class="container-fluid paddingTopFromFooter">
      <img src="/assets/varun.jpg" class="img-fluid footerImage rounded-circle" alt="my image">
      <div class="media-body">
        <h5 class="mt-0">Mean Stack Developer</h5>
        <div class="footer-link">
          <span>
            <a class="lead" href="mailto: varundhariyal@gmail.com"><img class="svg1" src="/assets/svg/gmail.png"
                alt="gmail"></a>
          </span>
          <span>
            <a class="lead" href="https://in.linkedin.com/in/varundhariyal"><img class="svg2"
                src="/assets/svg/linkedin.png" alt="in"></a>
          </span>
          <span>
            <a class="lead" href="https://github.com/varundhariyal"><img class="svg3" src="/assets/svg/git.svg"
                alt="git"></a>
          </span>
          <span>
            <a class="lead" href="https://www.instagram.com/poeticoder/"><img class="svg4" src="/assets/svg/insta.svg"
                alt="insta"></a>
          </span>
        </div>
        <p class="lead text-uppercase">Drop me a line! I'll be happy to hear from you</p>
        <br>
        <span class="text-dark">Copyright © 2019 Varun Dhariyal</span>
      </div>
    </div>
  </footer>
</div>
