 <!-- history of transactions -->
 <div class="container">
   <div class="row">
     <div class="col">
       <div class="card shadow-lg p-3 mb-5 bg-white rounded">
         <div class="card-header text-center">
           <h3 class="display-4">Recent updates</h3>
           <div class="text-left">
           <button (click)="goBack()" class="btn btn-outline-info"><i class="far fa-hand-point-left">Go
              Back</i></button>
            </div>
           <div class="text-right">
             <button class="btn btn-outline-warning"><i class="fas fa-undo-alt">Undo</i></button>
           </div>
         </div>
         <div *ngFor="let history of multiHistory" class="card-body">
           <h4 class="btn badge badge-pill badge-success">{{history.createdOn |date:'medium'}}</h4>
           <h5 class="card-title"><li>{{history.remarks}}</li></h5>
           <hr>
         </div>
       </div>
     </div>
   </div>
 </div>
