<nav class="fixed-top navbar navbar-expand-lg navbar-property">
  <a class="navbar-brand" [routerLink]="[ '/dash']">LiveTo-Do</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-danger" [routerLink]="[ '/dash',userId]">SingleUser</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/multiview']">MultiUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/alluser' ]">FriendZone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid" id="jumb-prop">
  <div class="container jumb-padding">
    <h1 class="display-4">Hello {{myName}}</h1>
    <p class="lead">Welcome to LiveTo-Do</p>
  </div>
</div>
<div class="container text-center search-box-margin">
  <div id="top" class="row">
    <div class="col text-center shadow p-3 mb-5 bg-white rounded">
      <!-- todo list create input -->
      <input id="title" #title='ngModel' [(ngModel)]="listTitle" class="form-control mr-sm-2" type="text"
        placeholder="Enter Name Of ToDo List" required>
      <br>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="createNewEmptyList()" type="button"><i
          class="fas fa-plus-circle">Create a ToDO List</i></button>
    </div>
  </div>
</div>
<!-- todo list names section-->
<div class="container-fluid">
  <div *ngIf="allList" class="row">
    <div class="col">
      <div *ngFor='let list of allList' class="card shadow-lg p-3 mb-5 bg-white rounded mx-auto text-center"
        style="width: 18rem;">
        <a [routerLink]="[ '/listview', list.listId ]">
          <div class="card-body">
            <h5 class="card-title">{{list.listTitle}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{list.createdOn |date}}</h6>
          </div>
        </a>
        <div class="text-center">
          <button class="btn btn-outline-danger" (click)="deleteList(list.listId)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <pagination [totalItems]="totalItems" [itemsPerPage]="itmesPerPage" [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"></pagination>

    </div>
  </div>
</div>

<!-- footer -->
<div>
  <footer class="marginTop  text-center">
    <div class="container-fluid paddingTopFromFooter">
      <img src="/assets/varun.jpg" class="img-fluid footerImage rounded-circle" alt="my image">
      <div class="media-body">
        <h5 class="mt-0">Mean Stack Developer</h5>
        <div class="footer-link">
          <span>
            <a class="lead" href="mailto: varundhariyal@gmail.com"><img class="svg1" src="/assets/svg/gmail.png"
                alt="gmail"></a>
          </span>
          <span>
            <a class="lead" href="https://in.linkedin.com/in/varundhariyal"><img class="svg2"
                src="/assets/svg/linkedin.png" alt="in"></a>
          </span>
          <span>
            <a class="lead" href="https://github.com/varundhariyal"><img class="svg3" src="/assets/svg/git.svg"
                alt="git"></a>
          </span>
          <span>
            <a class="lead" href="https://www.instagram.com/poeticoder/"><img class="svg4" src="/assets/svg/insta.svg"
                alt="insta"></a>
          </span>
        </div>
        <p class="lead text-uppercase">Drop me a line! I'll be happy to hear from you</p>
        <br>
        <span class="text-dark">Copyright © 2019 Varun Dhariyal</span>
      </div>
    </div>
  </footer>
</div>
